extends ../layout  
block content
    - function get_config(s) { return configs.find(function(element) { return element.name === s}).value;};
    .container
        form(method="post" action="/edit/config")
            .form-group
                label(for='application_name') Application Name
                input#application_name.form-control.bg-light(required, name="application_name", type='text', value=get_config("application_name"))
            .form-group
                label(for='presentation_value') Presentation
                input#presentation_value.form-control.bg-light(required, name="presentation_value", type='text', value=get_config("presentation_value"))
            .form-group
                label(for='accroche_value') Accroche
                input#accroche_value.form-control.bg-light(required, name="accroche_value", type='text', value=get_config("accroche_value"))
            .form-group
                label(for='welcome_value') Welcome
                input#welcome_value.form-control.bg-light(required, name="welcome_value", type='text', value=get_config("welcome_value"))
            .form-group
                label(for='button_value') ButtonValue
                input#button_value.form-control.bg-light(required, name="button_value", type='text', value=get_config("button_value"))
            .form-group
                label(for='description_value') Description
                textarea#description_value.form-control.bg-light(required, name="description_value", type='text', cols="30", rows="10")=get_config("description_value")
            .form-group
                label(for='mail_contact_value') Contact Mail
                input#mail_contact_value.form-control.bg-light(required, name="mail_contact_value", type='text', value=get_config("mail_contact_value"))
            button.btn.btn-success.btn-lg(type='submit' style="position:fixed;right:50px;bottom:30px;") Save
