extends ../layout
block content
  style(type="text/css").
    body {
    color: #566787;
    background: #f5f5f5;
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
    }
    .table-wrapper {
    background: #fff;
    padding: 20px 25px;
    margin: 30px 0;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
    .table-title {
    padding-bottom: 15px;
    background: #435d7d;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
    }
    .table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
    }
    .table-title .btn-group {
    float: right;
    }
    .table-title .btn {
    color: #fff;
    float: right;
    font-size: 13px;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
    }
    .table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
    }
    .table-title .btn span {
    float: left;
    margin-top: 2px;
    }
    table.table tr th, table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
    }
    table.table tr th:first-child {
    width: 60px;
    }
    table.table tr th:last-child {
    width: 100px;
    }
    table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
    }
    table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
    }
    table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
    }
    table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
    }
    table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
    outline: none !important;
    }
    table.table td a:hover {
    color: #2196F3;
    }
    table.table td a.edit {
    color: #FFC107;
    }
    table.table td a.delete {
    color: #F44336;
    }
    table.table td i {
    font-size: 19px;
    }
    table.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
    }
    .pagination {
    float: right;
    margin: 0 0 5px;
    }
    .pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
    }
    .pagination li a:hover {
    color: #666;
    }
    .pagination li.active a, .pagination li.active a.page-link {
    background: #03A9F4;
    }
    .pagination li.active a:hover {
    background: #0397d6;
    }
    .pagination li.disabled i {
    color: #ccc;
    }
    .pagination li i {
    font-size: 16px;
    padding-top: 6px
    }
    .hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
    }
    /* Custom checkbox */
    .custom-checkbox {
    position: relative;
    }
    .custom-checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    margin: 5px 0 0 3px;
    z-index: 9;
    }
    .custom-checkbox label:before{
    width: 18px;
    height: 18px;
    }
    .custom-checkbox label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    background: white;
    border: 1px solid #bbb;
    border-radius: 2px;
    box-sizing: border-box;
    z-index: 2;
    }
    .custom-checkbox input[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    transform: inherit;
    z-index: 3;
    transform: rotateZ(45deg);
    }
    .custom-checkbox input[type="checkbox"]:checked + label:before {
    border-color: #03A9F4;
    background: #03A9F4;
    }
    .custom-checkbox input[type="checkbox"]:checked + label:after {
    border-color: #fff;
    }
    .custom-checkbox input[type="checkbox"]:disabled + label:before {
    color: #b8b8b8;
    cursor: auto;
    box-shadow: none;
    background: #ddd;
    }
    /* Modal styles */
    .modal .modal-dialog {
    max-width: 400px;
    }
    .modal .modal-header, .modal .modal-body, .modal .modal-footer {
    padding: 20px 30px;
    }
    .modal .modal-content {
    border-radius: 3px;
    }
    .modal .modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 3px 3px;
    }
    .modal .modal-title {
    display: inline-block;
    }
    .modal .form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
    }
    .modal textarea.form-control {
    resize: vertical;
    }
    .modal .btn {
    border-radius: 2px;
    min-width: 100px;
    }
    .modal form label {
    font-weight: normal;
    }
  script(type="text/javascript").
    $(document).ready(function(){
      // Activate tooltip
      $('[data-toggle="tooltip"]').tooltip();
      $("body").on("click", ".news_button", function () {
        $("#modal_title").val($(this).closest("tr").find(".news_title").text())
        $("#modal_content").val($(this).closest("tr").find(".news_content").text())
        $("#modal_autor").val($(this).closest("tr").find(".news_autor").text())        
        $("#modal_created_date").val($(this).closest("tr").find(".news_created_date").text())          
        $("#modal_title_input").val($(this).closest("tr").find(".news_title").text())
        $("#modal_content_input").val($(this).closest("tr").find(".news_content").text())
        $("#modal_autor_input").val($(this).closest("tr").find(".news_autor").text())        
        $("#modal_del_title").val($(this).closest("tr").find(".news_title").text())
        $("#modal_del_content").val($(this).closest("tr").find(".news_content").text())
        $("#modal_del_autor").val($(this).closest("tr").find(".news_autor").text())        
        $("#modal_del_created_date").val($(this).closest("tr").find(".news_created_date").text())          

      });
    });
  .container
    .table-wrapper
      .table-title
        .row
          .col-sm-6
            h2
              | Manage 
              b News
          .col-sm-6
            a.btn.btn-success(href="#addEmployeeModal" data-toggle="modal")
              i.material-icons 
              span Add New News
      table.table.table-striped.table-hover
        thead
          tr
            th Title
            th Content
            th Autor
            th Date
            th Actions
        tbody
        each news in list
          tr
            td.news_title #{news.title}
            td.news_content #{news.content}
            td.news_autor #{news.autor}
            td.news_created_date #{news.date}
            td
              a.edit(href="#editEmployeeModal" data-toggle="modal")
                i.material-icons.news_button(data-toggle="tooltip" title="Edit") 
              a.delete(href="#deleteEmployeeModal" data-toggle="modal")
                i.material-icons.news_button(data-toggle="tooltip" title="Delete") 
        
  // add Modal HTML
  #addEmployeeModal.modal.fade
    .modal-dialog
      .modal-content
        form(method="post" action="/add/news")
          .modal-header
            h4.modal-title Add Employee
            button.close(type="button" data-dismiss="modal" aria-hidden="true") ×
          .modal-body
            .form-group
              label Title
              input.form-control(name="title" type="text" required)
            .form-group
              label Content
              textarea.form-control(name="content" required="")
            .form-group
              label Autor
              input.form-control(name="autor" type="text" value="Laura CLEMENCEAU" required)
          .modal-footer
            input.btn.btn-default(type="button" data-dismiss="modal" value="Cancel")
            input.btn.btn-success(type="submit" value="Add")
  // Edit Modal HTML
  #editEmployeeModal.modal.fade
    .modal-dialog
      .modal-content
        form(method="post" action="/edit/news")
          .modal-header
            h4.modal-title Edit News
            button.close(type="button" data-dismiss="modal" aria-hidden="true") ×
          .modal-body
            input(id="modal_title" name="modal_title" type="hidden" required)
            input(id="modal_content" name="modal_content" type="hidden" required)
            input(id="modal_autor" name="modal_autor" type="hidden" required)
            input(id="modal_created_date" name="modal_created_date" type="hidden" required)
            .form-group
              label Title
              input.form-control(id="modal_title_input" name="title" type="text" required)
            .form-group
              label Content
              textarea.form-control(id="modal_content_input" name="content" required="")
            .form-group
              label Autor
              input.form-control(id="modal_autor_input" name="autor" type="text" required)
          .modal-footer
            input.btn.btn-default(type="button" data-dismiss="modal" value="Cancel")
            input.btn.btn-info(type="submit" value="Save")
  // Delete Modal HTML
  #deleteEmployeeModal.modal.fade
    .modal-dialog
      .modal-content
        form(method="post" action="/remove/news")
          .modal-header
            h4.modal-title Delete News
            button.close(type="button" data-dismiss="modal" aria-hidden="true") ×
          .modal-body
            input(id="modal_del_title" name="title" type="hidden" required)
            input(id="modal_del_content" name="content" type="hidden" required)
            input(id="modal_del_autor" name="autor" type="hidden" required)
            input(id="modal_del_created_date" name="created_date" type="hidden" required)
            p Are you sure you want to delete these Record?
            p.text-warning
              small This action cannot be undone.
          .modal-footer
            input.btn.btn-default(type="button" data-dismiss="modal" value="Cancel")
            input.btn.btn-danger(type="submit" value="Delete")
