extends ../layout
block content
    .container
        .row
            .div(class="col-sm-6 offset-sm-3 col-md-3 offset-md-4 col-lg-3 offset-lg-4" style="max-width: 300px;float:none;")
                h1 Login
                br
                .card
                    form(role='form', action="/login",method="post")
                        .form-group
                            input.form-control(type='text', name="username", placeholder='Username')
                        .form-group
                            input.form-control(type='password', name="password", placeholder='password')
                        .btn-group
                            button.blue.btn.btn-default.waves-effect.waves-light(type='submit') login