- function get_config(s) { return configs.find(function(element) { return element.name === s}).value;};
html(lang='en')
    head
        meta(charset='utf-8')
        |  &#x9;
        meta(http-equiv='X-UA-Compatible',  content='IE=edge')
        |  &#x9;
        meta(name='viewport',  content='width=device-width,  initial-scale=1')
        title Laura CLEMENCEAU
        link(type='text/css',  rel='stylesheet',  href='css/bootstrap.min.css')
        link(rel='stylesheet',  href='css/font-awesome.min.css')
        link(type='text/css',  rel='stylesheet',  href='css/style.css')
        link(rel='shortcut icon', href='/img/icone.png')
    body
        if messages
            if messages.notify
                each msg in messages.notify
                    .alert.alert-primary(role="alert")= msg
            if messages.error
                each msg in messages.error
                    .alert.alert-danger= msg
        h1 Laura CLEMENCEAU
        h3 application_name
        p= get_config("application_name")
        h3 presentation_value
        p= get_config("presentation_value")
        h3 button_value
        p= get_config("button_value")
        h3 accroche_value
        p= get_config("accroche_value")
        h3 welcome_value
        p= get_config("welcome_value")
        h3 mail_contact_value
        p= get_config("mail_contact_value")
        h3 description_value
        p= get_config("description_value")

        h2 News :

        .container
            .row
                .section-header.text-center
                    h2.title  News
                each val in list
                    .blog
                            .blog-content
                                ul.blog-meta
                                    li
                                        i.fa.fa-user
                                            =val.autor
                                    |  &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    li
                                        i.fa.fa-clock-o
                                            =val.date
                                    |  &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                
                                |  &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                h3  
                                    =val.title
                                |  &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                p
                                    =val.content
                                |  &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;

        a(href="/admin")
            button administration