doctype html
html(ng-app='lau-website', lang='fr')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Admin
    link(rel='shortcut icon', href='/img/icone.png')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js', integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut", crossorigin='anonymous')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css', integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js', integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='/css/richtext.min.css')
    script(src='/js/jquery.richtext.min.js')
    script(src='/js/login.js')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='/') Admin-lau-website
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNavAltMarkup.collapse.navbar-collapse
        .navbar-nav.text-right
          if(user)
            a.nav-item.nav-link(href='/admin/news')
              | News
            a.nav-item.nav-link(href='/admin/config')
              | Configs
            a.nav-item.nav-link.text-danger(href='/Logout')
                    | Logout
    
      if messages
          if messages.notify
              each msg in messages.notify
                  .alert-primary= msg
          if messages.error
              each msg in messages.error
                  .alert-danger= msg
  body.text-center
    block content
